.header-button {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
  cursor: pointer;

  transition: all 100ms ease;

  &:hover {
    transform: scale(1.1);
  }

  &_active {
    transform: translateY(-0.5rem);
  }

  &:not(:last-child) {
    margin-right: 5rem;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
  }

  &__title {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 1.4rem;
  }

  &__amount {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 0;
    right: -1rem;
    font-size: 2rem;
  }
}
