.main-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  // margin-bottom: 4rem;
  animation: slideUp 1s ease;
}

.window {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 2rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.all-slides-container {
  height: 100%;
  display: flex;

  transition: all 750ms ease-in-out;
}

.arrow_right {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  transform: rotate(-180deg);
  top: 45%;
  right: 7%;
}

.arrow_left {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 45%;
  left: 7%;
}

.dots {
  width: 25.5rem;
  height: 0.5rem;
  display: flex;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);

  &__dot {
    width: 6rem;
    height: 0.5rem;
    border: none;
    background-color: #878787;

    &:hover {
      cursor: pointer;
    }

    &_active {
      background-color: white;
    }

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
