.search {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-right: 1rem;

  &__icon {
    width: 4rem;
    height: 4rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__input {
    width: 40rem;
    height: 4rem;
    border: 1px solid #878787;
    border-radius: 0.5rem;
    font-size: 1.6rem;

    &:focus {
      border: 1px solid rgb(0, 0, 0);
      outline: none;
      transform: scale(1.01);
    }
  }

  &__dropdown {
    padding: 1rem;
    position: absolute;
    background-color: white;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    top: 100%;
    width: 44rem;
    height: auto;

    &-item-container {
      padding: 1rem;
      &:not(:last-child) {
        border-bottom: 2px solid #eeeeee;
      }
    }
  }

  &__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  &__right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &__price {
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__image {
    min-width: 18.5rem;
    max-width: 18.5rem;
    height: 10rem;
    object-fit: contain;
    margin-right: 1rem;
  }
}

@media (max-width: 767px) {
  .search {
    &__input {
      width: 32rem;
    }

    &__dropdown {
      width: 36rem;
    }

    &__image {
      min-width: 15rem;
      max-width: 15rem;
    }
  }
}

@media (max-width: 575px) {
  .search {
    &__input {
      width: 26rem;
    }

    &__dropdown {
      width: 30rem;
    }

    &__image {
      min-width: 10rem;
      max-width: 10rem;
    }
  }
}
