.back-button {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  margin-left: 5rem;
  transition: all 100ms ease;

  &__icon {
    min-width: 4.5rem;
    max-width: 4.5rem;
    object-fit: contain;
    margin-right: 0.5rem;
  }

  &__title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: #878787;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}
