.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 2rem;

  &__left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
  }

  &__image {
    min-width: 10rem;
    max-width: 10rem;
    max-height: 10rem;
    min-height: 10rem;
    object-fit: contain;
    margin-right: 10%;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__category {
    margin: 0;
    font-size: 1.6rem;
    color: #878787;
    font-weight: 400;
  }

  &__right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
  }

  &__price {
    font-size: 1.8rem;
    font-weight: bold;
  }

  &__recycling-bin {
    min-width: 3rem;
    max-width: 3rem;
    object-fit: contain;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

@media (max-width: 575px) {
  .cart-item {
    flex-direction: column;
    justify-content: center;
    position: relative;

    &__left-side {
      margin-bottom: 2rem;
      width: 80%;
    }

    &__recycling-bin {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}
