.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 4rem;

  &__left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
  }

  &__image {
    min-width: 10%;
    max-width: 10%;
    object-fit: contain;
    margin-right: 10%;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__category {
    margin: 0;
    font-size: 1.6rem;
    color: #878787;
    font-weight: 400;
  }

  &__right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
  }

  &__price {
    font-size: 1.8rem;
    font-weight: bold;
  }

  &__recycling-bin {
    min-width: 5%;
    max-width: 5%;
    object-fit: contain;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
