@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
}

@media (max-width: 991px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 374px) {
  html {
    font-size: 5px;
  }
}
