.modal-container {
  position: fixed;
  top: 10%;
  left: 25%;
  right: 25%;
  overflow: hidden;
  min-height: auto;
  max-height: 80%;
  z-index: 1000;
  background: white;
  border-radius: 2rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    width: 100%;
    margin-bottom: 4rem;
  }

  &__close-icon {
    position: absolute;
    top: 4rem;
    right: 4rem;
    margin-left: auto;
    min-width: 3rem;
    max-width: 3rem;
    object-fit: contain;

    &:hover {
      cursor: pointer;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 1400px) {
  .modal-container {
    left: 5%;
    right: 5%;
  }
}
